<!doctype html>
<html lang="{{metadata/lenguaje}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <title>{{metadata/title}}</title>
    {{#if metadata/description}}<meta name="description" content="{{description}}">{{/if}}
    {{#if metadata/author}}<meta name="author" content="{{author}}">{{/if}}
    {{#if metadata/keywords}}<meta name="keywords" content="{{keywords}}">{{/if}}
    <style>
      {{styles}}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="texts">
        <div class="coming_soon">
          <p class="coming_soon-text">{{site/text}} </p>
          <ul class="coming_soon-list">
          {{#each site/list}}
            <li class="coming_soon-item">{{this}}</li>
          {{/each}}
          </ul>
        </div>
        {{#if site/organizationName}}
        <div class="organization_name">
          <p>{{site/organizationName}}</p>
        </div>
        {{/if}}
        {{#if site/pageStatus}}
        <div class="page_status">
          <p>{{site/pageStatus}}</p>
        </div>
        {{/if}}
      </div>
    </div>
  </body>
</html>
